<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="{% url 'home' %}" method="POST">
      <input style="margin:0;display:inline;float:right;" type="text" name="expent" value="">
      </input>
      <p style="margin:0;display:inline;float:right;">exp</p>
      <br><br>
      <input style="margin:0;display:inline;float:right;" type="number" name="amount" value="">
      </input>
      <p style="margin:0;display:inline;float:right;">amount</p>
      <br><br><br>
      <input type="submit" name="submit" value="register">
      </input>
    </form>
  </body>
</html>
